$Manrope: "Manrope", sans-serif;
$stroke: #e4e6f2;
$text-placeholder: #bdbfc6;
$text-secondary-paragraph: #787580;
$text-secondary-heading: #4b4950;
$text-primary-heading: #1f1d25;

$white: #fff;
$gray1: #ebebeb;
$gray2: #d7d7d7;
$gray3: #c3c3c3;

$container-xl: 1170px;
$container-lg: 970px;
$container-md: 750px;
$container-sm: 100%;

$breakpoint-1200: 1200px;
$breakpoint-992: 992px;
$breakpoint-768: 768px;
