@import "../../styles/variables";

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip__inner {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  color: $text-primary-heading;
  filter: drop-shadow(0 0 2px $gray3);
  padding: 20px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
}

.tooltip__inner_show {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.tooltip__title {
  margin-bottom: 20px;
}

.tooltip__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tooltip__arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-color: transparent transparent $white transparent;
}
